<!DOCTYPE html>
<html>
<head>
<title>
Mapper
</title>
<style>
    table, th, td {
      border:1px solid black;
      text-align: center;
    }
    
.centerv {
  text-align: center;
  color: rgb(153, 41, 41);
}
.center {
  color: green;
  text-align: center;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 30px;
}
.centert {
  margin-left: auto;
  margin-right: auto;
}

</style>
</head>
<body>  


<h1 class=" centerv">Text to Classification Mapper</h1>
<form name ="map" action="." method ="post">
  
    <input type="text" name="inputtext" value="artificial intelligence">
    <h3>Enter text here</h3>
    <br>
    <input type="number" name="threshold" value = 65 >
    <h3>Enter matching threshold</h3>
    <br>
    <h3>Select Tree for Classification</h3>
    <input type="radio" id="html" name="tree" value="ACM" checked >
    <label for="html">ACM</label><br>
    <br>
    <input type="submit" value="Find Concepts"> 
    </form>
    {% if score %}
    <h3 class = center>Input text - {{input}}</h3>
    
    <!-- <h2 class = center>Score</h2> -->
    <h3 class = center>Score - {{score}}</h3>
    <br>
    <table class="centert" >
      <tr>
      
        <th><h3>Closest matching concepts </h3></th>
        <!-- <th><h2>Score</h2></th> -->
      </tr>
      {% for i in term %} 
        <tr>
         
          <td><h3>{{i}}</h3></td>
          <!-- <td><h2>{{score}}</h2></td> -->
         
        </tr>
        {% endfor %}
      </table>
     
      {% endif %}
</body>
</html>